API/Schemas/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

	<xs:element name="Words">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Word" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="String" type="xs:string"/>
							<xs:element name="Meaning" type="xs:string"/>
							<xs:element name="Invented" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>